body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url("images/main.png") center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 618px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}



.intro__suptitle {
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'montserrat';
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}


/* Nav */
.nav {

    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {

    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav a{
  font-size: 17px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 8px 20px;
  transition-duration: 0.6s;
}
.nav a:hover {
  border: 1px solid #fff;
  border-radius: 17px;
}
/*about__us*/
.about__us{
    height: 487px;
    margin-top:120px;
    display:flex;
    align-items: center;

    
}
.about__header{
    margin: 0 auto;
    max-width: 468px;
}
.about__subtitle{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.about__readmore{
    margin-top: 20px;
    
    font-size: 20px;
    border-radius: 25px;
    background:none;
    text-align: center;
    padding: 7px;
    width: 140px;
    height: 45px;
}

.about__img{
    margin: 0 auto;
    width: 215px;
    height: 350px;
}

/*about__details*/

.about__details{
    padding-top: 80px;
    background-color: #f3f3f3;
}
.wrapper__details{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}
.details__header{
    margin-bottom:80px;
}
.details__subtitle{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align:center; 
}
.details__suptitle{
    margin-top:32px;
    text-align: center;
}


.details__items{
    display:flex;
    justify-content:center;
    align-items: center;

}
.details__items img{
    margin:0 22px;
    width: 56px;
    height: 56px;
}
.about-block {
  color: #81868e;
}

.about-block h3 {
  font-weight: 500;
  padding: 60px 0 38px 70px;
  font-size: 20px;
}

.about-creat {
  display: flex;
  padding: 0 70px 100px;
  font-size: 16px;
  line-height: 1.5;
}

.about-text_left {
  flex-basis: 35%;
  margin-right: 15%;
}

.about-text_right {
  flex-basis: 65%;
}

.about-text_left > p > span {
  color: #19bd9a;
  font-weight: 600;
}

.about-text_right > p > span {
  color: #19bd9a;
  font-weight: 600;
}


/*featured project*/
.featured__project{
    padding-top:90px;
}
.featured__header{
    text-align: center;
}
.featured__subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.featured__suptitle{
    font-weight: 500;
    color:#81868e;
    font-size: 14px;
    margin-top:45px;
}
.featured__cards{
    overflow: hidden;
    display:flex;
    flex-wrap: nowrap;
}
.featured__card1{
    margin-top: 55px;

}

.footer{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 111px;
    background:url(images/footer.png) center no-repeat;
     -webkit-background-size: cover;

}
.footer h2{
    margin-left: 162px;
   font-size: 20px;
   font-weight: 500;
   color: white;
}
.footer button{
    margin-right:190px;
    border-color: #FFFFFFFF;
    
}
.footer__submit{
    color: white;
    font-size: 20px;
    border-radius: 25px;
    background:none;
    text-align: center;
    padding: 7px;
    width: 140px;
    height: 45px;

}

/*services*/
.services{
    padding-top:80px;
    background-color:#f3f3f3;
}
.services__title{
    text-align: center;
}
.services__subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.services__suptitle{
    font-weight: 500;
    color:#81868e;
    font-size: 14px;
    margin-top:38px
}
.services__card{
    margin: 130px auto;
    max-width: 1030px;
    display: flex;
}
.services__item{
    flex:1 1 2;
}
.services__icon{
    padding-bottom:18px;
    display: flex;
    flex-direction: column;
}
.services_text{
    max-width: 404px;
    margin-left: 49px;
}
.services__bio2{
    margin-top:30px;
}
.servicess_bio3{
    margin-top:30px;
}
/*circle*/
.wrapper{

  width: 470px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .card{
  width: calc(33% - 20px);
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  
}
.wrapper .card .circle{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  cursor: default;
}
.card .circle .box,
.card .circle .box span{
  position: absolute;
  top: 50%;
  left: 50%;
}
.card .circle .box{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.2s;
}
.card .circle:hover .box{
  transform: translate(-50%, -50%) scale(0.91);
}
.card .circle .box span,
.wrapper .card .text{
  background:#81868e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.circle .box span{
  font-size: 38px;
  font-family: sans-serif;
  font-weight: 600;
  transform: translate(-45%, -45%);
  transition: all 0.1s;
}
.card .circle:hover .box span{
  transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
  font-size: 20px;
  font-weight: 600;
}

/*quotes*/
.quotes{
    position: relative;
    width: 100%;
    height: 393px;
    background: url(images/Rectangle.png) center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.quotes__title{
    margin-left:99px;
    max-width: 600px;
}
.quotes__title h1{
    padding-top: 80px;
    text-transform: uppercase;
    color:#f3f3f3;
    font-weight: 400;
    font-size: 20px;
}
.quotes__title p{
    padding-top:50px;
    color:#8d8d8d;
    font-size: 16px;
}
.quotes__title h2{
    padding-top:30px;
    color:#9c9d9d;
    font-size: 14px;
    text-transform: uppercase;
}
.quotes__code{
    color:#19bd9a;
}
.quotes__macbook{
    
    margin-top: -45px;
    top: 0;
    left: calc(70% - 100px);
    position: absolute;
}
.quotes__macbook img{

    position: relative;
}
.quotes__mactitle{
    color:#dddddd;
    font-size: 30px;
    text-transform: uppercase;
    left: 137px;
    top:113px;
    position: absolute;
}
.qoutes__bouncy{
    color:#14a385;
}

/*portfolio*/
.portfolio{

}
.portfolio_wrapper{
       margin-top: 80px;
       text-align: center; 
}
.portfolio__header{

}
.portfolio__sup{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.portfolio__sub{
    color: #8a8f96;
    font-weight: 400;
    margin-top: 40px;
    font-size: 14px;
}
.nav__potfolies{
    margin-top: 80px;
}
.nav__portfolio{
    font-weight: 500;
    text-decoration: none;
    color: #575757;
    padding: 20px;
}
.nav__portfolio:hover{
   border-bottom: 2px solid #19bd9a;
} 
/*portfolio card*/
 .portfolio{
    background: #f3f3f3;
    padding-top: 100px;
}
.main_wrapper{
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 5px;
}
.text-center{
    color: #111;
    text-align: center;
    padding: 81px 0 63px;
}
.gallerey{
    justify-content: center;
    display: flex;
    text-align: center;
}
.line{
    margin-right: 20px
}
.line:last-child {
    margin-right: 0;
}
.gallerey  .line > div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
}
.desxr{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    padding-left: 20%;
    opacity: 0;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100%;
    text-align: left;
}
.gallerey > .line > div:hover > .desxr {
  opacity: 1;
  top: 0;
}
.desxr  p:nth-child(1) {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #19bd9a;
    padding-bottom: 20px;
}
.desxr > p:nth-child(2) {
    font-size: 12px;
    color: #b2b3b3;
    line-height: 1.5;
    padding-right: 33%;
}

div img{
    width: 100%;
    vertical-align: middle;
}
.portfolio-bg{

    background: url(images/footerbyicons.png) no-repeat;
    background-size: cover;
    min-height: 201px;
    text-align: center;
    margin-top: 30px;
}
.portfolio-bg p{
    color: white;
    padding: 60px 0 30px;
    font-size: 19px;
}
.portfolio-bg span{
    font-weight: bold;
}
.portfolio-bg button{
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
.button-classic{
        padding: 10px 28px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    transition-duration: 0.8s;
    letter-spacing: 1px;
    cursor: pointer;
}
/*footer*/
.portfolio__footer{
    margin-top: 40px;
    height: 202px;
    background: url(images/footerbyicons.png) center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.portfolio__content{
    padding-top: 60px;
    margin: 0 auto;
    max-width: 800px;
}
.portfolio__suptitle{
    color: #d5eee8;
    font-weight: 500;
    justify-content: center;
    font-size: 20px;
}
.portfolio__footer button{
    margin-top: 30px;
    margin-left:300px;
    border-color: #FFFFFFFF;
    
}
.portfolio__button{
    color: white;
    font-size: 20px;
    border-radius: 25px;
    background:none;
    text-align: center;
    padding: 7px;
    width: 140px;
    height: 45px;

}

/*team*/
.team{
}
.team__wrapper{
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
}
.team__header{
    padding-top: 70px;
    text-align: center;
    
}
.team__suptitle{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    font-weight: 500;
    font-size: 20px;
}

.team__subtitle{
    padding-top: 30px;
    line-height: 2;
}
/*team about*/
.team__about{
    display: flex;
    justify-content: space-between;
}
.team__img{
    margin-top: 50px;
}
.team__title{
    margin-top: 50px;
}
.title__suptitle{
    text-align: right;
    font-weight: 500;
    color: #696969;
    font-size: 20px;
}
.title__suptitle::after{
    content: "";
    border: 2px solid #19bd9a;
}
.title__subtitle{
    text-transform: uppercase;
    text-align: right;
    font-weight: 450;
    color: #81868e;
    font-size: 14px;
    font-style: italic;
}
.team__text{
    text-align: right;
    color: #81868e;
    font-weight: 450;
    margin-top: 25px;
    font-size: 14px;
}
.skills1{
    width: 100%;
}
.skill1{

}
.skill1 h2{
    text-align: right;
}
/*skils*/
.skills{
  width: 100%;
  max-width: 370px;
  padding: 0 20px;
}

.skill-name{
  color: #81868e;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 4px;
  background: #cacaca;
  border-radius: 4px;
}

.skill-per{
  height: 4px;
  background-color: #19bd9a;
  border-radius: 4px;
  width: 0;
  transition: 1s linear;
  position: relative;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  top: -47px;
  right: 0;
  transform: translateX(50%);
}
.skill-per::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  top: -16px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
/*footer team*/
.footer__team{
    margin-top: 170px;
    width: 100%;
    height: 200px;
    background: url(images/team__footer.png)center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;;
}
.footer__headerteam{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__headerteam a{
    text-decoration: none;
    color: white;
}
.footer__teamtitle{
    padding-top: 60px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}
.footer_tbutton{
    color: white;
    margin: 40px;
    border-color: #FFFF;
    font-size: 20px;
    border-radius: 25px;
    background:none;
    text-align: center;
    padding: 7px;
    width: 140px;
    height: 45px;
}
/*testimontials*/

.testimontials__wrapper{
    background-color: #f3f3f3;
    width: 100%;
    height: 648px;
    margin: 0 auto;
}
.testimontials__header{
    padding-top: 80px;
    text-align: center;
}
.testimontials__suptitle{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.testimontials__subtitle{
    padding-top: 30px;
    line-height: 2;
}
.testimontials__title{
    margin: 50px auto;
    max-width: 1170px;
    height: 315px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
}
.testimontials__text{

}
.testimontials__info{
    color: #8b9097;
    font-weight: 500;
    font-size: 16px;
    max-width: 743px;
}
.testimontials__infosup{
    font-size: 16px;
    color: #19bd9a;
    text-transform: uppercase;
}
.testimontials__infosub{
    font-size: 14px;
    font-weight: 500;
}
/*blog*/
.blog{
    width: 100%;
    height: 700px;
    background: url(images/slider-vert__bg.png)center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.blog__footer{

}
.header__blog{
    padding-top: 100px;
    width: 468px;
    margin-left: 100px;
}
.header__blogsup{
    color: #b2b3b3;
    font-weight: 400;
}
.header__blogsub{
    color: #b2b3b3;
    font-weight: 400;
}
.header__info{
    margin-top: 105px;
    width: 600px;
    margin-left: 168px;
}
.header__infosup{
    font-size: 20px;
    color: #e1e4e9;
    font-weight: 400;
}
.header__infosub{
    margin-top: 15px;
    font-style: italic;
    color: #7c8088;
    font-weight: 500;
}
.header__infosubcol{
    color: #169378;
}
.header__text{
    color: #464646;
    margin-top: 18px;
    font-size: 14px;
}
.header_textlast{
    margin-top: 60px;
    font-weight: 500;
    color: #666970;
}

.blog__button{
    color: white;
    margin-top: 20px;
    border-color: #FFFF;
    font-size: 20px;
    border-radius: 25px;
    background:none;
    text-align: center;
    padding: 7px;
    width: 140px;
    height: 45px;
}
/*our price*/
.our__pricewrapper{
    background-color: #f3f3f3;
    width: 100%;
    margin: 0 auto;
}
.ourprice__header{
    padding-top: 75px;
    text-align: center;
}
.ourprice__suptitle{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.ourprice__subtitle{
    padding-top: 30px;
    line-height: 2;
}
/*price*/
.price__container{
  max-width: 900px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
}

.pricing-table{
  background: #f1f1f1;
  flex: 1;
  margin: 10px;
  text-transform: uppercase;
}

.pricing-header{
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price{
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.price span{
  font-size: 30px;
}

.title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list{
  padding: 10px 20px;
}
.price__first{
  font-size: 30px;
  text-align: center;
  color: #1fbba6;
}

.pricing-list li{
  list-style: none;
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.border{
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a{
  text-decoration: none;
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}
.pricing-table a:hover{
  border-radius: 30px;
}
.table1 .pricing-header{
  background: #1fbba6;
}
.table2 .pricing-header{
  background: #1fbba6;
}
.table3 .pricing-header{
  background: #1fbba6;
}

.table1 .title{
  background-image: linear-gradient(125deg,#3498db,#9b59b6);
}
.table2 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}
.table3 .title{
  background-image: linear-gradient(125deg,#e74c3c,#f39c12);
}

.table1 a{
  color: #1fbba6;
}
.table2 a{
  color: #1fbba6;
}
.table3 a{
  color: #1fbba6;
}

.table1 a:hover{
  background: #1fbba6;
  font-weight: bold;
  color: #fff;
}
.table2 a:hover{
  font-weight: bold;
  background: #1fbba6;
  color: #fff;
}
.table3 a:hover{
  font-weight: bold;
  background: #1fbba6;
  color: #fff;
}

@media screen and (max-width:780px) {
  .pricing-table{
    flex: 100%;
  }
}
/*subrscribe*/
.subrcribeus{
    width: 100%;
    height: 380px;
    background: url(images/subscribe-background.png)center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
}
.footer__subrcribe{
    margin-top: 80px;
    text-align: center;
}
.footer__infosubrcribe{
    padding-top: 77px;
}
.subr__sup{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
}
.subr__sub{
    margin-top: 40px;
    line-height: 2;
    font-size: 14px;
    color: #81868e;
    font-weight: 500;
}
.input__subr{
    margin-top: 60px;
    font-weight: bold;
    padding-left: 21px;
    margin-right: 10px;
    color: white;
    width: 360px;
    height: 40px;
    text-decoration: none;
    border: 3px solid #81868e;
    background: none;
}
.input__subr:focus{
    outline: none;
}
.input__sub{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    height: 41px;
    color: white;
    text-decoration: none;
    background: #19bd9a;
}
/*contact us*/
.contact__us{
    background-color: #f3f3f3;
    width: 100%;
    margin: 0 auto;
}
.contactus__header{
    padding-top: 75px;
    text-align: center;
}
.contactus__suptitle{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.contactus__subtitle{
    padding-top: 30px;
    line-height: 2;
}
/*card contact*/
.contact__card{
    width: 100%;
    max-width: 969px;
    display: flex;
    justify-content: space-evenly;
    margin: 60px auto;
    padding-bottom: 100px;
}


.contact__title{
    background-color: #ffffff;
    padding-top: 28px;
    max-width: 287px;
    text-align: center;
}
.contactcard__sup1{
    color: #464646;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}
.contactcard__sub1{
    font-size: 14px;
    text-transform: uppercase;
    
}
.contact__title2{
    background-color: #ffffff;
    padding-top: 28px;
    max-width: 287px;
    text-align: center; 
}
.contactcard__sup2{
    color: #464646;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.contactcard__sub2{
    text-transform: uppercase;
    font-size: 14px;
}
.contact__title3{
    background-color: #ffffff;
    padding-top: 28px;
    max-width: 287px;
    text-align: center; 
}
.contactcard__sup3{
    color: #464646;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.contactcard__sub3{
    text-transform: uppercase;
    font-size: 14px;
}
/*con btn*/

.contact-section{
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 50px 0;
}

.contact-form{

  overflow: hidden;
}

.contact-form-text{
  width: 287px;
  background: #ffffff;
  padding: 20px 40px;
  outline: none;
  color: #a9a9a9;
  transition: 0.2s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #19bd9a;
}
textarea.contact-form-text{
  resize: none;

}
.contact-form-textarea{
    resize: none;
    height: 180px;
    width: 100%;
    max-width: 940px;
    margin-top: 30px;
}
.contact-form-btn{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  margin-top: 30px;
  background: #19bd9a;
  color: #fff;
  padding: 12px 50px;
  cursor: pointer;
}
/*map*/

.map{
  background: url(images/MAP-BACKGROUND.png)center no-repeat;
     -webkit-background-size: cover;
    background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.map__text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}
.map__sup{
    color: #ffff;
    font-weight: 400;
    text-align: center;
    margin-top: 240px;
}
.map:hover .map__text {
  opacity: 1;
}
/*footerbouncy*/
.footer__bouncy{
   width: 100%;
   max-width: 255px;
   margin: 0 auto;
}
.footerb__title{
    margin-top: 80px;
}
.footerb__sup{
    font-weight: 900;
    color: #323a45;
    text-align: center;
}
.footerb__sub{
    color: #81868e;
    font-size: 14px;
}
.footer__soc{
    display: flex;
    justify-content: center;

}
.footer__soc img{
    padding: 20px;
}


